.DS_Store
.Rhistory
.Renviron
.Rproj.user/*
.cache/*
.ipynb_checkpoints/*
bugsigdb_signatures.gmt
notes/*
data/*
output/overview_merged.rds
output/overview_cleaned.rds
output/diff_species.rds
output/possible_pmids.csv
output/perio_bugs.xlsx
output/perio_bugs.rds
output/perio_bugs.csv
output/study_pmids.rds
.Rproj.user
