.DS_Store
.Rhistory
.Rproj.user/*
.cache/*
.ipynb_checkpoints/*
bugsigdb_signatures.gmt
notes/*
data/*
output/overview_merged.rds
output/diff_species.rds
output/possible_pmids.csv
output/perio_bugs.xlsx
.Rproj.user
